.leaflet-container {
  width: 75vw;
  height: 80vh;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: #eeee;
  margin-bottom: 30px;
}
